# Exports
.zip 

# === PYTHON ===
__pycache__/
*.py[cod]
*.so
*.log
*.tmp
*.pid

# Virtual environments
.venv/
env/
venv/

# Environment variables and secrets
.env

# Model files (keep important ones for inference)
ml/*.bin
ml/*.pt
ml/*.pth
ml/*checkpoint*
ml/distilbert_tab_classifier/
ml/*.joblib
ml/*.csv
ml/*.pkl
ml/data/*.json

# Pytest and Jupyter artifacts
.pytest_cache/
*.ipynb_checkpoints

# Data
*.sqlite3
*.db
*.csv

# OS-specific
.DS_Store
Thumbs.db
.vercel
